.idea/
checkpoints/
data/
fairseq-transformer/
fairseq/
tmp.tmp.txt
word_level/__pycache__/
word_level/ori_sentences.txt
__pycache__/
checkpoint_generator/
checkpoint_v/
kakao_edin_toho/
train.src-trg.src
train.src-trg.trg
trash/
valid.src-trg.src
valid.src-trg.trg
weiqi_f/
word_level/predict_wj_rerank.sh
checkpoint_seq2seq/
checkpoint_v0/
err2.log
out2.log
*.log
pbs2.log
qsub.pbs
run.sh
checkpoint_rl/
checkpoint_seq2seq_0/
temp3.py
80003seq2seq_vocab.pickle
checkpoint_seq2seq_1/
seq2seq.test.predict.out
temp_s2s.zip
test.predict.out
*.zip
